body {
  max-width: 60vw;
  background-color: #282c34;
  margin: 0 auto;
}

.App {
  text-align: center;
  min-height: 100vh;
  color: white;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content label {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
}

.App-content input {
  display: block;
  width: 50%;
  font-size: 20px;
  border-radius: 10px;
  border-style: hidden;
  margin: 10px auto;
  padding: 10px;
}

.btn {
  color: #008cba;
  background: white;
  border-radius: 6px;
  border: none;
  padding: 16px 32px;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.3s;
}

.btn-submit {
  margin-bottom: 15px;
}

/*button on hover*/
.btn:hover {
  background-color: #61dafb;
  color: white;
}

.App-link {
  color: #61dafb;
}
